@import "tailwindcss";

@theme inline {
  --font-pixel: var(--font-pixel);
}

/* Base Styles */
body {
  font-family: system-ui, -apple-system, sans-serif;
}

/* Pixel Font */
.font-pixel {
  font-family: var(--font-pixel);
}
